{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <a class="mr-2 main-username" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">Posted: {{ post.date_posted.strftime('%m/%d/%Y') }}</small>
    </div>
    <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <p><b>Time: </b>{{ post.start_date.strftime('%m/%d/%Y at %H:%M') }} to {{ post.end_date.strftime('%m/%d/%Y at %H:%M') }}</p>
    <p><b>Food: </b>{{ post.food }}</p>
    {% if post.nut_allergy %}
      <p><b>Allergies: </b>Nuts</p>
    {% endif %}
    <p><b>Formality: </b>{{ post.formality }}</p>
    <p><b>Attendees: </b>{{ post.attendees}}</p>
    <p><b>Location: </b><a href="{{ post.map_link }}" class="gamer-red">{{ post.location}}</a></p>
    <hr />
    <p class="article-content">{{ post.description }}</p>
    {% if post.author == current_user %}
      <div>
        <a class="btn btn-secondary mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
        <a type="button" class="btn btn-danger m-1" href="{{ url_for('posts.delete_post', post_id=post.id) }}">Delete</a>
      </div>
    {% endif %}
  </div>
</article>
{% endblock content %}
